<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Pet Beauty Pageant</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <h1>
          <a href='/'>Pet Beauty Pageant</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href='/dashboard'>dashboard</a>
            <button id='logout' class='btn-no-style'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Made with ❤️ by Team Rockstars</p>
      </footer>
    </div>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>