
<section>
  <h2>Nominate Your Pet!</h2>

  <form id='post-form' class='new-post-form' enctype="multipart/form-data">
    <div>
      <label for='post-name'>Name</label>
      <input type='text' id='post-name' name='name' />
    </div>
    <div>
      <label for='pet_type'>Pet Type</label>
      <input id='pet_type' name='pet_type' />
    </div>
    <div>
      <input type="file" name="image" id="image" />
    </div>
    <button type='submit' class='btn'>Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>