<form class='login-form'>
  <h2>Login</h2>
  <div>
    <label for='email-login'>Email:</label>
    <input type='text' id='email-login' />
  </div>
  <div>
    <label for='password-login'>Password:</label>
    <input type='password' id='password-login' />
  </div>
  <div>
    <button id='login-submit' type='submit'>Login</button>
    <a class='login-link' href='/signup'>Sign up first?</a>
  </div>

</form>

<script src='/js/login.js'></script>