{{> post-info post}}

{{#if loggedIn}}
  <form class='comment-form'>
    <div>
      <textarea name='comment-body'></textarea>
    </div>

    <div>
      <button type='submit'>Add Comment</button>
          <button id='vote-btn' class="upvote-btn vote ">Vote
      <i class='fas fa-chevron-circle-up fa-1x'></i>
      </button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src='/js/comment.js'></script>
  <script src="/js/upvote.js"></script>
{{/if}}


